

<!-- checking sign-in user auth -->
<%if(user.id == profile_user.id){%>

    <section class="vh-70">
      <h3>Codial | Profile Page</h3>
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

              <form action="/users/update/<%=profile_user.id%>" method="post" enctype="multipart/form-data">
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" name="email" value="<%=profile_user.email%>"/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
      
                <!-- name input -->
                <div class="form-outline mb-3">
                  <input type="text" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Your Name" name="name" value="<%=profile_user.name%>"/>
                  <label class="form-label" for="form3Example4">Name</label>
                </div>
                
                 <!-- profile input -->
                 <div class="form-outline mb-4">
                  <input type="file" id="form3Example3" class="form-control form-control-lg" placeholder="Profile Pic" name="avatar"/>
                  <label class="form-label" for="form3Example3">Profile Pic</label>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    
<%}else{%>
    <!-- <ul>
        <li>
            <span>name:&nbsp<%=profile_user.name%></span>
        </li>
        <li>
            <span>email:&nbsp<%=profile_user.email%></span>
        </li>
    </ul> -->
    <section class="vh-100" style="background-color: #9de2ff;">
      <h3>Codial | Profile Page</h3>
      <div class="container py-5 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid"
                      style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1"><%=profile_user.name%></h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Developer</p>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                      style="background-color: #efefef;">
                      <div>
                        <p class="small text-muted mb-1">Articles</p>
                        <p class="mb-0">41</p>
                      </div>
                      <div class="px-3">
                        <p class="small text-muted mb-1">Followers</p>
                        <p class="mb-0">976</p>
                      </div>
                      <div>
                        <p class="small text-muted mb-1">Rating</p>
                        <p class="mb-0">8.5</p>
                      </div>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                      <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%}%>


