<h3>Codial | Profile Page</h3>

<!-- checking sign-in user auth -->
<%if(user.id == profile_user.id){%>

    <section class="vh-70">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

              <form action="/users/update/<%=profile_user.id%>" method="post">
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" name="email" value="<%=profile_user.email%>"/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
      
                <!-- name input -->
                <div class="form-outline mb-3">
                  <input type="text" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Your Name" name="name" value="<%=profile_user.name%>"/>
                  <label class="form-label" for="form3Example4">Name</label>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    
<%}else{%>
    <ul>
        <li>
            <span>name:&nbsp<%=profile_user.name%></span>
        </li>
        <li>
            <span>email:&nbsp<%=profile_user.email%></span>
        </li>
    </ul>
    <%}%>


